<h1>This is user</h1>

Select For Type For Viewing All Of It


<form method='POST' action="/endUser">
    <br>
    <input type="submit" name="type" value="AUTHOR">
</form>

<form method='POST' action="/endUser">
    <br>
    <input type="submit" name="type" value="PAPER">
</form>

<form method='POST' action="/endUser">
    <br>
    <input type="submit" name="type" value="TOPIC">
</form>

<br>
<form method='POST' action="/endUser">
    <input placeholder="authorName" type="text" name="authorName" >
    <br>
    <input type="submit" name="type" value="getAuthorPapers">
</form>


<form method='POST' action="/endUser">
    <br>
    <input type="submit" name="type" value="sotaResultByTopic">
</form>

<br>
<form method='POST' action="/endUser">
    <input placeholder="topicName" type="text" name="topicName" >
    <br>
    <input type="submit" name="type" value="getPapersByTopic">
</form>


<form method='POST' action="/endUser">
    <br>
    <input type="submit" name="type" value="rankAuthorsBySotaResult">
</form>

<br>
<form method='POST' action="/endUser">
    <input placeholder="keyword" type="text" name="keyword" >
    <br>
    <input type="submit" name="type" value="searchKeyword">
</form>


<br>
<form method='POST' action="/endUser">
    <input placeholder="authorName" type="text" name="authorName" >
    <br>
    <input type="submit" name="type" value="searchCo-authors">
</form>