{% extends "base_template.html" %}

{% block navlinks %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

{% for result in context %}
<div class="card" style="width:100%;max-width:60em">
  <img src="{{ result.CountryCode}}" alt="Avatar" style="width:10em;margin:auto;">
  <div class="card-body">
      <p style="font-size:20px"> <span style="color:black">{{ result.Country }} </h5>
   <p style="color:red"><span>New Confirmed :<span style="color:black"> {{ result.NewConfirmed }}</p>
<p style="color:red"><span>Total Confirmed : <span style="color:black"> {{ result.TotalConfirmed }}</p>
<p style="color:red"><span>New Deaths : <span style="color:black"> {{ result.NewDeaths }}</p>
<p style="color:red"><span>TotalDeaths : <span style="color:black"> {{ result.TotalDeaths }}</p>
<p style="color:red"><span>New Recovered : <span style="color:black">{{ result.NewRecovered }}</p>
<p style="color:red"><span> Date : <span style="color:black"> {{ result.Date }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
