<div
  style="
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  "
>
  <style>
    .dropdown-toggle {
      box-shadow: none !important;
    }
  </style>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Covid-19
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="coronavirusCountryLive">Search Country</a>
      <a class="dropdown-item" href="worldStats">Worldwide Overview</a>
      <a class="dropdown-item" href="coronavirus">Covid By Countries</a>
      <a class="dropdown-item" href="coronavirusByCountry"
        >Search Country-Detailed</a
      >
    </div>
  </div>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Alt-Coins
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="{{ url_for('bitcoin_price') }}">BTC</a>
      <a class="dropdown-item" href="{{ url_for('coin_ranks') }}">Coin Ranks</a>
    </div>
  </div>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Scholarly
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="{{ url_for('search') }}"
        >Academician Search</a
      >
    </div>
  </div>

  <div class="dropdown show">
    <a
      class="btn btn-info"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="{{ url_for('api_list') }}"
    >
      API
    </a>

  </div>

</div>
