{% extends "base_template.html" %}

{% block navlinks %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div style="margin-top: 2em;">
  <br />
  <div style="text-align: center; width: 100%;">
    <h4 style="align-self: center;">Top 10 Most Popular Alt-Coins</h4>
  </div>

  <br />
  <table class="table" style="table-layout: auto; margin: auto;">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Short-Name</th>
        <th scope="col">Name</th>
        <th scope="col">Price (USD)</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for coin in context.coins %}
      <tr>
        <td>{{ coin.rank }}</td>
        <td>{{ coin.symbol }}</td>
        <td>{{ coin.name }}</td>
        <td>{{ coin.price }}</td>
        <td><a href="{{ coin.url }}">{{ coin.url }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
