{% extends "base_template.html" %}

{% block navlinks %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<section class="search-bar">
  <form action="{{ url_for('coronavirusCountryLive') }}" method="post">
<small style="margin:auto">Search current confirmed cases for a country:</small>
<small style="margin:auto">(If there is no province name, it shows last 5 days. If there is province name it shows the current numbers of 5 cities):</small>
  <div class="input-group mb-3">

      <input type="text" name="search_param" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
      </div>

  </div>
  </form>
  {% if context.param %}
    <small style="margin:auto">Results for "{{ context.param }}":</small>
  {% endif %}
</section>
<section class="search-results">

  {% for result in context.results %}
    <div class="card" style="width:100%;max-width:60em">
      <div class="card-body">
        <h5 class="card-title">{{ result.Province }}</i></h5>
        <p class="card-text">{{ result.Cases }}</p>
      </div>
    </div>
  {% endfor %}

</section>

{% endblock %}
