<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Akademise | Academic Collaboration Platform
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Colo Shop Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/bootstrap4/bootstrap.min.css') }}"
    />
    <link
      href="{{ url_for('static',filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/animate.css') }}"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/responsive.css') }}" />
  </head>

  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header trans_300">
        <!-- Top Navigation -->

        <div class="top_nav">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 text-right">
                <div class="top_nav_right">
                  <ul class="top_nav_menu">
                    <!-- Currency / Language / My Account -->
                    <li class="language">
                      <a href="#">
                        English
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="language_selection">
                        <li><a href="#">Turkish</a></li>
                      </ul>
                    </li>
                    <li class="account">
                      <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="account_selection">
                        <li>
                          <a href="#"
                            ><i class="fa fa-user" aria-hidden="true"></i
                            >Profile</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-users" aria-hidden="true"></i
                            >Teams</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-sign-out" aria-hidden="true"></i
                            >Sign-out</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-right">
                <div class="logo_container">
                  <a href="{{ url_for('form_post') }}">Aka<span>Demise</span></a>
                </div>
                <nav class="navbar">
                  <ul class="navbar_menu">
                    {% block navlinks %}
                    {% endblock %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main>
        {% block content %}
        {% endblock %}
      </main>

      <!-- Footer -->

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center"
              >
                <ul class="footer_nav">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center"
              >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="footer_nav_container">
                <div class="cr">
                  ©2020 All Rights Reserverd. This website developed by CmpE 352 Group-6.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/styles/bootstrap4/popper.js"></script>
    <script src="../static/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="../static/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../static/plugins/easing/easing.js"></script>
    <script src="../static/js/custom.js"></script>
  </body>
</html>
