{% extends "base_template.html" %}

{% block navlinks %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div style="padding: 5%;">
  <h4 style="text-align: center;">Random Dad-Joke</h4>

  <div style="border: 1px solid rgb(0, 0, 0); width: 10em; margin: auto;">
    <details>
      <summary>
        {{ joke }}
      </summary>
      {{ punchline }}
    </details>
  </div>
  <div style="text-align: center;">
    <button style="margin-top: 2em;" onClick="window.location.reload();">
      Another
    </button>
  </div>
</div>

{% endblock %}
