<h1>This page is for adding/updating/deleting authors</h1>


<form method='POST' action="/endAuthor">
    <input placeholder="authorName" type="text" name="authorName" >
    <br>
    <input type="submit" name="type" value="ADD">
</form>

<form method='POST' action="/endAuthor">
    <input placeholder="oldAuthorName" type="text" name="oldAuthorName" >
    <input placeholder="newAuthorName" type="text" name="newAuthorName" >
    <br>
    <input type="submit" name="type" value="UPDATE">
</form>

<form method='POST' action="/endAuthor">
    <input placeholder="authorName" type="text" name="authorName" >
    <br>
    <input type="submit" name="type" value="DELETE">
</form>