<h1>This page is for adding/updating/deleting papers</h1>

Enter Multiple Values With Coma Seperated
<br>

<form method='POST' action="/endPaper">
    <input placeholder="Authors" type="text" name="paperAuthors" >

    <input placeholder="Title" type="text" name="paperTitle" >

    <input placeholder="Abstract" type="text" name="paperAbstract" >

    <input placeholder="Topics" type="text" name="paperTopics" >

    <input placeholder="Result" type="text" name="paperResult" >
    <br>
    <input type="submit" name="type" value="ADD">
</form>

<form method='POST' action="/endPaper">

    <input placeholder="Old Title" type="text" name="paperOldTitle" >

    <br>
    <input placeholder="Authors" type="text" name="paperAuthors" >

    <input placeholder="New Title" type="text" name="paperNewTitle" >

    <input placeholder="Abstract" type="text" name="paperAbstract" >

    <input placeholder="Topics" type="text" name="paperTopics" >

    <input placeholder="Result" type="text" name="paperResult" >

    <br>
    <input type="submit" name="type" value="UPDATE">
</form>

<form method='POST' action="/endPaper">
    <input placeholder="Title" type="text" name="paperTitle" >
    <br>
    <input type="submit" name="type" value="DELETE">
</form>