<h1>This page is for adding/updating/deleting topics</h1>

<form method='POST' action="/endTopic">
    <input placeholder="topicName" type="text" name="topicName" >
    <br>
    <input type="submit" name="type" value="ADD">
</form>

<form method='POST' action="/endTopic">
    <input placeholder="oldTopicName" type="text" name="oldTopicName" >
    <input placeholder="newTopicName" type="text" name="newTopicName" >
    <br>
    <input type="submit" name="type" value="UPDATE">
</form>

<form method='POST' action="/endTopic">
    <input placeholder="topicName" type="text" name="topicName" >
    <br>
    <input type="submit" name="type" value="DELETE">
</form>