<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colo Shop</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Colo Shop Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/bootstrap4/bootstrap.min.css') }}"
    />
    <link
      href="{{ url_for('static',filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/animate.css') }}"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/responsive.css') }}" />
  </head>

  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header trans_300">
        <!-- Top Navigation -->

        <div class="top_nav">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 text-right">
                <div class="top_nav_right">
                  <ul class="top_nav_menu">
                    <!-- Currency / Language / My Account -->
                    <li class="account">
                      <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="account_selection">
                        <li>
                          <a href="#"
                            ><i class="fa fa-sign-in" aria-hidden="true"></i
                            >Sign In</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-plus" aria-hidden="true"></i
                            >Register</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-right">
                <div class="logo_container">
                  <a href="#">Aka<span>Demise</span></a> <a href="#"> > DASHBOARD</a>
                </div>
                <nav class="navbar">
                  <ul class="navbar_menu">
                    <li><a href="#">home</a></li>
                  </ul>
                  <ul class="navbar_user">
                    <li>
                      <a href="#"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-user" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- posts -->

      <div style="height:15em;"></div>

      <div style="margin:auto;width:70%;max-width:50em;">
        <style>
          table.sort td {
            /*border: 1px solid black;*/
            text-align: center;
          }
        </style>
        <table class="sort" style="width:100%">
          <tr>
            <td>
              <b>SORT BY</b>
            </td>
            <td>
              <a href="#">● NEWEST FIRST</a>
            </td>
            <td>
              <a href="#">● MOST VIEWED</a>
            </td>
            <td>
              <a href="#">● ERDŐS NUMBER</a>
            </td>
          </tr>
        </table>
      </div>

      <!-- post -->
  		<div style="margin:3em 20% 3em 20%;">
  			<div>
  				<table>
  					<tr>
  						<td>
                <!--User avatar
  							<img style="margin:.5em 2em .5em 2em;border-radius:50%;height:4em;width:4em;"src="https://i.sozcu.com.tr/wp-content/uploads/2020/03/18/iecrop/avatar2_1_1_1584522645-400x400.jpg">
                <img style="margin:.5em 2em .5em 2em;border-radius:50%;height:4em;width:4em;"src="https://i.sozcu.com.tr/wp-content/uploads/2020/03/18/iecrop/avatar2_1_1_1584522645-400x400.jpg">
              -->
              </td>
  						<td>
                <!--Title-->
  							<a href="#"><h3>Eclectic Projections 📌</h3></a>
                <!--Content-->
  							<p>This is an article summary. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
  							</p>
  						</td>
  					</tr>
  				</table>
          <table style="width:100%">
            <tr>
              <td>
                <div style="width:100%;text-align:left">
                  <!--Stats-->
                  <a href="#" title="Views">👁️ 1029</a>&nbsp;&nbsp;
                  <a href="#" title="Likes">❤️ 78</a>&nbsp;&nbsp;
                  <a href="#" title="Erdős Number">#️⃣ 2</a>&nbsp;&nbsp;
                </div>
              </td>
              <td>
                <!--Authors-->
                <div style="width:100%;text-align:right">
                  <a href="#">Alvaro Mutis</a> |
                  <a href="#">Marshall Mathers</a> |
                  <a href="#">Ludovico Eunaudi</a>
                </div>
              </td>
            </tr>
          </table>

  			</div>
  		</div>

      <!-- post -->
      <div style="margin:3em 20% 3em 20%;">
        <div>
          <table>
            <tr>
              <td>
                <!--User avatar
                <img style="margin:.5em 2em .5em 2em;border-radius:50%;height:4em;width:4em;"src="https://i.sozcu.com.tr/wp-content/uploads/2020/03/18/iecrop/avatar2_1_1_1584522645-400x400.jpg">
                <img style="margin:.5em 2em .5em 2em;border-radius:50%;height:4em;width:4em;"src="https://i.sozcu.com.tr/wp-content/uploads/2020/03/18/iecrop/avatar2_1_1_1584522645-400x400.jpg">
              -->
              </td>
              <td>
                <!--Title-->
                <a href="#"><h3>Generative Adversarial Networks 📌</h3></a>
                <!--Content-->
                <p>This is an article summary. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>
              </td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <td>
                <div style="width:100%;text-align:left">
                  <!--Stats-->
                  <a href="#" title="Views">👁️ 93002</a>&nbsp;&nbsp;
                  <a href="#" title="Likes">❤️ 4320</a>&nbsp;&nbsp;
                  <a href="#" title="Erdős Number">#️⃣ 4</a>&nbsp;&nbsp;
                </div>
              </td>
              <td>
                <!--Authors-->
                <div style="width:100%;text-align:right">
                  <a href="#">Leeroy Jenkins</a> |
                  <a href="#">Colonel Sanders</a>
                </div>
              </td>
            </tr>
          </table>

        </div>
      </div>


      <!-- Footer -->

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center"
              >
                <ul class="footer_nav">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center"
              >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="footer_nav_container">
                <div class="cr">
                  ©2020 All Rights Reserverd. This website developed by CmpE 352 Group-6.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/styles/bootstrap4/popper.js"></script>
    <script src="../static/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="../static/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../static/plugins/easing/easing.js"></script>
    <script src="../static/js/custom.js"></script>
  </body>
</html>
